<%- include('header.ejs') %>

<div id="information">
   <h1><%= machine %></h1>
    <img src="/displays/alternator.png">
    <h2>Description</h2>
    <p></p>
    <h2>Theory of Operation</h2>
    <p><%- marked(sections['Theory of Operation']) %></p>
    <h2>Construction</h2>
    <ul></ul>
</div>

<div id="calculator">
    <h1>Calculate the efficiency and the voltage</h1>
    <form>
    <% for(let i = 0; i < inp_array.length; i++) { %>
     <label><%= inp_array[i] %></label>
     <input class="border border-black">
    <% } %>
    <button>Calculator</button>
    </form>
   
</div>


<!-- 
each machine page should have:
    - the title of the machine
    - the theory of operation
    - the construction
    - the applications
    - a video

    - the calculator
    - extra: a mini quiz

-->

<%- include('footer.ejs') %>