<%- include('header.ejs') %>

<div class="p-3" id="information">
   <h1 class="text-[36px] p-3 font-extrabold"><%= machine %></h1>
   
    <section class="flex p-5">
         <img class="w-[45%]" src="/displays/Transformer.png">
         <div class="p-2.5">
            <h2 class="text-[20px] font-bold p-1">Description</h2>
            <p><%- marked(sections['Description']) %></p>
            <h2 class="text-[20px] font-bold p-1">Theory of Operation</h2>
            <p><%- marked(sections['Theory of Operation']) %></p>
         </div>
        
    </section>
    <section class="flex p-5">
    <div class="p-2.5">
        <h2 class="text-[20px] font-bold p-1">Construction</h2>
        <ul><%- marked(sections['Construction']) %> </ul>
    </div>
    <img class="w-[45%]" src="/displays/Transformer2.png">

    
    </section>
    
</div>

<div class="p-5" id="calculator">

    
    
    <form class="">

        <fieldset class="p-3 border border-black ">
        <legend class="text-[16px] font-semibold">Efficiency and Voltage Regulation Calculator</legend>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
             <% for(let i = 0; i < inp_array.length-1; i++) { %>
            <div class="flex flex-col">
                <label class="text-[15px]"><%= inp_array[i] %></label>
                <input id="<%= inp_array[i] %>" class="rounded" required>
            </div>
        <% } %>
        </div>
       
        <div class="flex justify-center mt-4">
            <button class="p-2 m-1 text-center bg-palette-primary text-white" id="calculator-btn">Calculate</button>
        </div>
        <div id="results">
        
        </div>
        </fieldset>
    </form>
   
   
</div>


<!-- 
each machine page should have:
    - the title of the machine
    - the theory of operation
    - the construction
    - the applications
    - a video

    - the calculator
    - extra: a mini quiz

-->

<%- include('footer.ejs') %>